footer.footer
    .items
        .items__1
                a.items__link(href="/sobre") Sobre
                a.items__link(href="/contato") Contato
                a.items__link(href="/carreiras") Carreiras
                a.items__link(href="/avaliacoes") Avaliações
        .items__2
            img.items__img(src="img/logo.png" alt="icon")
    p.items__copy © Enertec 2020. Todos os direitos reservados.

