extends base
block content
    main
      section.section-benefits-auto.section-benefits-auto--1
        .u-center-text.u-box-column
          h1.heading-tertiary.u-margin-bottom-small Tenha uma iluminação inteligente
          p.u-margin-bottom-medium Reduza o uso dos interruptores tradicionais
          ul.list
            li
              | ON/OFF
            li
              | Controle a intensidade da luz
            li
              | Programe a hora de ligar
      section.section-benefits-auto.section-benefits-auto--2
        img(src="/img/washmachine.jpg" alt="wash")
        video.half-video.half-video--left(autoplay="" muted="" loop="")
          source(src="/videos/auto-2.mp4" type="video/mp4")
          source(src="/videos/auto-2.webm" type="video/webm")
          |           Your browser is not supported!
        .content-box.content-box--right.content-box--even-padding
          h1.heading-tertiary.heading-tertiary--auto-benefit.u-center-text.u-margin-bottom-small
            | Objetos Sob Controle
          p.u-center-text.default-text
            | Tenha uma casa inteligente, com controle de tudo desde persianas até
            | aparelhos eletrônicos
          ul.list.list--smaller
            li
              | Abra e feche persianas, de
              | acordo com suas necessidades
            li
              | Ligue e desligue os seus
              | aparelhos eletônicos
            li
              | Elime a necessidade de um
              | controle remoto
      section.section-spec
        .img-specs-box
          .img-specs-box__nested
            img.img-specs-box__img.img-specs-box__img--1(src="https://titlarkshouse.com/imager/images/23/Titlarks-House-10-highres-sRGB_63c5417528811733fac7b0193ea9c242.jpg" alt="roof")
            img.img-specs-box__img.img-specs-box__img--2(src="https://aqua-tech.ca/wp-content/uploads/2016/02/indoor-pool-pic-d.jpg" alt="indoor pool")
            img.img-specs-box__img.img-specs-box__img--3(src="https://i.pinimg.com/originals/5a/58/3f/5a583fd9d4d9c73a982f05d6555a2ddf.jpg" alt="counter")
          .img-specs-box__specs
            h1.u-margin-bottom-medium.heading-tertiary(style="color: white;")
              | Área de Festa Futurista
            .list-box
              .list-box__card
                hr
                p.text-white--bolder Aquecimento Controlado
                p.text-white
                  | Regule a temperatura da água pelo celular
              .list-box__card
                hr
                p.text-white--bolder Hidromassagem nas suas mãos
                p.text-white Regule a intensidade da mesma
              .list-box__card
                hr
                p.text-white--bolder Teto Futurista
                p.text-white Abra e feche o teto quando quiser
              .list-box__card
                hr
                p.text-white--bolder
                  | Eletrodomésticos Sobre Controle
                p.text-white
                  | Use o seu celular para controlar o seu forno, ar-condicionado
                  | e muito mais.
      section.section-youtube
        h1.u-center-text.heading-tertiary.u-margin-bottom-medium
          | Confira o nosso trabalho 👇
        p.u-center-text.sub-title.sub-title--bolder.u-margin-bottom-medium
          | O vídeo abaixo mostra o nosso trabalho de automação feito na área de
          | festa do cliente
        iframe(showinfo="0" width="680" height="390" src="https://www.youtube.com/embed/cP6QLk5DZGg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; " modestbranding="1" allowfullscreen="")
