extends base
block content
    main
        section.section-careers
            h1.heading-secondary.u-center-text.u-margin-bottom-big Explore carreiras
            img(src="/img/careers/eletri.jpg" alt="eletricista")
            img(src="/img/careers/engineer.jpg" alt="engineer")
            img(src="/img/careers/estoque.jpg" alt="estoque")
            img(src="/img/careers/counter.jpg" alt="counter")
            img(src="/img/careers/setor-comercial.jpg" alt="setor-comercial")
            .contact-box.u-box-column
                h1.heading-tertiary.u-margin-bottom-medium Ficou interessado? Entre em contato!
                button.btn--green(onclick='window.location.pathname="/contato"') Contato