extends base 
block content
    main
      section.section-contact
        h3.heading-tertiary.u-margin-bottom-medium.u-center-text
          | Entre em contato!
        #upper-box.u-box-row.cards-box
          .card.person
            img.card-img-top(src="/img/owner.png" alt="Card image cap")
            .card-body.body-content.u-box-column
              .names-profession.u-box-column
                h5.card-title Douglas Bellan
                h6.card-subtitle.mb-2.text-muted Sócio Propretário
              ul.list-group.list-group-flush
                li.list-group-item
                  span
                    svg
                      use(xlink:href="/icons/symbol-defs.svg#icon-mail")
                  span Email: 
                  | douglas@gmail.com
                li.list-group-item
                  span
                    svg(style="fill: var(--color-blue-dark);")
                      use(xlink:href="/icons/symbol-defs.svg#icon-phone")
                  span Número: 
                  | (49) 9 9114-8270
          .card.person
            img.card-img-top(src="/img/sub-owner.png" alt="Card image cap")
            .card-body.body-content.u-box-column
              .names-profession.u-box-column
                h5.card-title Ricardo Tonin
                h6.card-subtitle.mb-2.text-muted Sócio Propretário
              ul.list-group.list-group-flush
                li.list-group-item
                  span
                    svg
                      use(xlink:href="/icons/symbol-defs.svg#icon-mail")
                  span
                    | Email:
                  |                   tonin@gmail.com
                li.list-group-item
                  span
                    svg(style="fill: var(--color-blue-dark);")
                      use(xlink:href="/icons/symbol-defs.svg#icon-phone")
                  span Número: 
                  | (49) 9 7813-8431
        #bottom-box.u-box-row.cards-box
          iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12165.144820966068!2d-53.53635578048349!3d-26.995044107088432!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94fa52cc53743de5%3A0x3591f5386609f972!2sEnerTec!5e1!3m2!1sen!2sbr!4v1597775931104!5m2!1sen!2sbr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
          .u-box-column
            h1#name-slogan.heading-tertiary.u-margin-bottom-small Enertec - Energia e Tecnologia
            p#adress.default-text.u-margin-bottom-medium(style="line-height: 1.6; font-size: 2rem;") R. Arno Sachs, 305 - Centro, Iporã do Oeste - SC, 89899-000
            .u-margin-bottom-medium
              span
                svg
                  use(xlink:href="/icons/symbol-defs.svg#icon-mail")
              span
                | Email:
              |               enertecautomacao@hotmail.com
            div
              span
                svg(style="fill: var(--color-blue-dark);")
                  use(xlink:href="/icons/symbol-defs.svg#icon-phone")
              span Número: 
              | (49) 3634-3336
