extends base

block content
    main
      section.section-benefits-solar
        p.legend Dinheiro Salvo
        p.legend-2 Conta de Luz
        video.little-video(autoplay="" muted="" loop="")
          source(src="videos/final.mp4" type="video/mp4")
          source(src="videos/final.webm" type="video/webm")
          |           Your browser is not supported!
        .content-box
          p#economize-button.sub-title Economize
          h1.heading-tertiary(style="\
          text-transform: none;\
          font-size: 3.2rem;\
          padding-bottom: 1rem;\
          ")
            | Eletrecidade por menos
          p.default-text.default-text--solar-benefits
            | Use a energia solar para abastecer sua casa e reduzir sua
            | dependência da rede. Aproveite a enrgia solar para ajudar o
            | meio-ambiente e assuma o controle de sua conta mensal de
            | eletricidade. Saiba mais sobre seu potencial de economia em nosso
            | Design Studio.
          a.btn__animated.btn--border.btn--black(href="#design" style="padding: 1rem 2rem;") Veja as suas economias
      section.section-carousel
        .bg-video(style="opacity: 0.4;")
          video.bg-video__content(autoplay="" muted="" loop="")
            source(src="videos/long.mp4" type="video/mp4")
            source(src="videos/long.webm" type="video/webm")
            |             Your browser is not supported!
        button#more.btn--white.u-center-absolute-downer.carousel__button(href="") Ver Imagens
        h1#customers.heading-tertiary.u-margin-bottom-medium.u-center-text
          | Veja clientes satisfeitos
        #testemonial-carousel.carousel.slide(data-interval="5000" data-ride="carousel")
          .carousel-inner
            each slide, index in slides
              div(class=`carousel-item ${index === 0 ? 'active' : 'nops'}`)
                img.image(src=`${slide.url}` alt="imagem-área")

          a.carousel-control-prev(href="#testemonial-carousel" role="button" data-slide="prev")
            span.carousel-control-prev-icon(aria-hidden="true")
            span.sr-only Previous
          a.carousel-control-next(href="#testemonial-carousel" role="button" data-slide="next")
            span.carousel-control-next-icon(aria-hidden="true")
            span.sr-only Next
      section#my-one.section-app
        h1.u-center-text.heading-tertiary
          | Acompanhe a sua produção diária
        p.u-center-text.sub-title
          | Tenha dados estatísticos de sua produção energia direto no seu celular 📈
        .my-flex
          img.my-flex__rotate(src="img/phone-app.png" alt="phone")
          .items-box
            h4.u-center-text.big-heading
              | Confira um dos apps  
              span    👇🏻
            .buttons-box
              button.btn.btn-dark.btn-lg(onclick="window.open('https://apps.apple.com/br/app/refulog/id1128745192', '_blank')" type="button")
                | Download 
                i.fab.fa-apple
              button.btn.btn-light.btn-lg(onclick="window.open('https://play.google.com/store/apps/details?id=com.refuelektronik.refulog', '_blank')" type="button")
                | Download 
                i.fab.fa-google-play
      section#design.section-design-studio
        .form-box
          h1.u-center-text.big-heading Design Studio
          h4.u-center-text.u-margin-bottom-big.heading-tertiary(style="font-size: 1.8rem; text-transform: none;")
            | Veja as suas economias
          form#the-form(action="")
            span.input-symbol-euro
              input#valor-da-luz.u-margin-bottom-big.input(required="" max="100000" min="25" placeholder="conta de luz mensal média" type="number" name="currency")
            button#btn-form.u-center-block.btn__animated.btn--border.btn--black(style="padding: 0.7rem 4rem;")
              | Veja as suas economias
