extends base

block content
    p Olá #{firstName},
    p O seu pedido foi enviado com sucesso!
    p A nossa equipe entrará em contato, lhe desejamos um ótimo dia!

    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
        tr
            td(align='left')
            table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                tbody
                tr
                    td
                    a(href=`${url}`, target='_blank') Contato
    p - Caso tenha uma dúvida entre em contato!
    p - Douglas Bellan, CEO
    